<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />   
  </head>
  <body>
    <% if (defaultOauthServer) { %> 
      <div id="login-oauth" data-url="<%= defaultOauthServer.url %>">
        <span><%= t('Log In with %s', defaultOauthServer.title) %></span>
      </div>
      <script>location.replace(document.getElementById('login-oauth').getAttribute('data-url'))</script>
    <%} else {%>
      <strong>没有配置认证服务</strong>
    <%}%>
    
  </body>
</html>
